@{
ViewData["Title"] = "Home ";
}

<section class="slideshow mobile-hidden">
    <img src="../img/Vrstva3.png" alt="slideshow" class="backgournd">
    <div class="img-content">
        <p class="upper">Nová dívčí kolekce <br>šetrná k dětským nohám</p>
        <p class="lower">Nejen do města, <br>ale i do přírody</p>
        <button class="primary-button" onclick="location.href=''">Zobrazit produkty</button>
    </div>
    <img src="../img/pils.png" alt="imaginary pils" class="pils-img">
</section>

<section class="categories">
    <div class="container">
        <a href="">
            <img src="../img/01.png" alt="boys-boots category image" width="100%">
            <span class="boys">Klučičí <br>boty</span>
        </a>
    </div>
    <div class="container">
        <a href="">
            <img src="../img/02.png" alt="girls-boots category image" width="100%">
            <span class="girls">Dívčí boty</span>
        </a>
    </div>
    <div class="container">
        <a href="">
            <img src="../img/03-01.png" alt="find right size image" width="100%">
            <span class="size">Jak správně <br>Vybrat?</span>
        </a>
    </div>
</section>

<div class="divider">
    <hr>
    <img src="../img/Group%20295.svg" alt="divider img">
</div>

<section class="newest-items">
    <h2 class="custom-header">Nejnovější kousky <span>v naší nabídce</span></h2>
    <section class="offers">
        @*<vc:ProductCard product="ViewBag.Product"></vc:ProductCard>*@
        @foreach(var product in ViewBag.Products) {
            <div>
                    <a asp-controller="Product" asp-action="Index" asp-route-vrtId="@product.Variations[0].Id">
                    <img src="@product.ProductImages[0].Url" width="100%" alt="boty1 image">
                    <div>
                        <h3>@product.Title</h3>
                        <p class="current-price">@product.Variations[0].SalePrice Kč</p>
                        <p class="old-price">@product.Variations[0].Price Kč</p>
                        <a href="DemandIndex.html">
                            <img src="../img/Group%206.png" alt="basket icon" class="basket-icon">
                        </a>
                    </div>
                </a>
            </div>
        }
    </section>
    <button class="primary-button">Zobrazit celou nabídku</button>
</section>

<div class="divider">
    <hr>
    <img src="../img/Group%20295.svg" alt="divider img">
</div>

<section class="see-also">
    <a href="">
        <div>
            <span>
                <img src="../img/Group%20195.svg" alt="warehouse icon">
            </span>
            <p>Vše máme skladem</p>
        </div>
    </a>
    <a href="">
        <div>
            <span>
                <img src="../img/Group%20196.svg" alt="warehouse icon">
            </span>
            <p>Doprava zdarma</p>
        </div>
    </a>
    <a href="">
        <div>
            <span>
                <img src="../img/Group%20293.svg" alt="warehouse icon">
            </span>
            <p>Jak měřit velikost</p>
        </div>
    </a>
</section>